<div class="row">
  <div class="col-md-3 text-center">
    <%= image_tag avatar_url(@other), class: "img-circle avatar-medium" %>
    <strong><%= @other.name %></strong>
    <%= link_to t("view_profile"), @other, class: "btn btn-default" %>
  </div>
  <div class="col-md-9">
    <div style="height:100%;">
      <div id="chat" class="chat-box">
        <%= render @messages %>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= t "conversation_with" %> <%= @other.name %>
          <input id="conversation_id" type="hidden" value="<%= @conversation.id %>">
        </div>
        <div class="panel-body">
          <div class="container text-center">
            <%= form_for [@conversation, @conversation.messages.new], remote: true do |f| %>
                <div class="form-group">
                  <%= f.text_field :context, placeholder: "...", class: "form-control" %>
                </div>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <div>
                  <%= f.submit t("send_message"), class: "btn btn-normal" %>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
