<div class="row">
  <div class="col-md-3">
    <%= render "room_menu" %>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= t("amenities") %>
      </div>
      <div class="panel-body">
        <div class="container">
          <%= form_for @room do |f| %>
              <div class="row form-group">
                <div class="col-md-4">
                  <%= f.check_box :is_tv %> <%= t("tv") %>
                </div>
                <div class="col-md-4">
                  <%= f.check_box :is_kitchen %> <%= t("kitchen") %>
                </div>
                <div class="col-md-4">
                  <%= f.check_box :is_internet %> <%= t("internet") %>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-4">
                  <%= f.check_box :is_heating %> <%= t("heating") %>
                </div>
                <div class="col-md-4">
                  <%= f.check_box :is_air %> <%= t("air_conditioning") %>
                </div>
              </div>
              <br/><br/>
              <div class="text-center">
                <%= f.submit t("save"), class: "btn btn-form" %>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
