<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <% provide :title, t("sign_up") %>
    <h1><%= t "sign_up" %></h1>
    <%= form_for(@user, url: signup_path) do |f| %>
      <%= link_to "/auth/facebook", class: "btn btn-facebook btn-block" do %>
        <i class="fa fa-facebook-official fa-fw"></i><%=t "continue_facebook"%>
      <% end %>
      <%= link_to "/auth/google_oauth2",
        class: "btn btn-google btn-block" do %>
        <i class="fa fa-google fa-fw"></i><%= t "continue_google" %>
      <% end %>

      <hr class="hr-text" data-content="OR">

      <div class="form-group">
        <%= f.text_field :name, autofocus: true, placeholder: t("name"), class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, placeholder: t("email"), class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.password_field :password, autocomplete: "off", placeholder: t("password"), class: "form-control" %>
      </div>
      <%= f.submit t("create_account"), class: "btn btn-normal btn-block" %>
    <% end %>
  </div>
</div>
