<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "AirPnP", root_path, class: "navbar-brand" %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#">
            <%= t("become_a_host") %>
          </a>
        </li>
          <% if logged_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                    role="button" aria-haspopup="true" aria-expanded="false">
                    <img src="" alt="">
                    <%= current_user.name %> <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#"><%= t("manage_listing") %></a></li>
                <li><a href="#"><%= t("list_your_space") %></a></li>
                <li><a href="#"><%= t("your_trips") %></a></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to t("edit_profile"),
                  edit_user_path(current_user) %></li>
                <li><%= link_to t(".logout"), logout_path,
                  method: :delete %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to t(".login"), login_path %></li>
            <li><%= link_to t(".sign_up"), signup_path %></li>
          <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
