<div class="row">
  <div class="col-md-3">
    <div class="center">
      <%= image_tag avatar_url(current_user), class: "avatar-full" %>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading"><%= current_user.name %></div>
      <div class="panel-body">
        <ul class="sidebar-list">
            <li><%= t"email_address" %><span class="pull-right icon-babu"><i class="fa fa-check-circle-o"></i></span></li>
            <li><%= t"facebook" %><span class="pull-right icon-babu"><i class="fa fa-check-circle-o"></i></span></li>
            <li><%= t"phone_number" %><span class="pull-right icon-babu"><i class="fa fa-check-circle-o"></i></span></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-9">

    <div class="panel panel-default">
      <div class="panel-heading"><%= t"notifications" %></div>
      <div class="panel-body">
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading"><%= t"your_rooms" %> (<%= @rooms.size %>)</div>
      <div class="panel-body">
        <%= render partial: "rooms/rooms_list", locals: {rooms: @rooms} %>
      </div>
    </div>

  </div>
</div>
